*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html,body{
    scroll-behavior: smooth;
    width: 100%;
    height: 1000px;
}
::-webkit-scrollbar{
    width: 0;
}
@media (max-width: 650px) {
    .hamburger{
        display: block;
    }
    .web-nav{
        display: none;
    }
    .modal-content img{
        border-radius: 0px;
        width: 110%;
    }
}
@media (min-width: 650px) {
    .hamburger{
        display: none;
    }
    .web-nav{
        display: block;
    }
    .about-content p{
        width: 60%;
    }
}
@media (max-width: 1163px) {
    .hire{
        display: none;
    }
}
@media (min-width: 770px) {
    .contact-content input, .message{
        max-width: 50%;
    }
    form{
        display: flex;
        flex-direction: column;
    }
}
#myvideo{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.go-to-home{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #29e69a;
    z-index: 13;
}
.go-to-home a{
    text-decoration: none;
    color: white;
}
.hamb-menu{
    position: absolute;
    display: flex;
    left: 0;
    justify-content: center;
    background-image: linear-gradient(to bottom left, #1ed88e, #1b7752);
    border-radius: 0 30px 30px 0;
    width: 60%;
    height: 100%;
    z-index: 12;
    transition: left .8s cubic-bezier(1, 0, 0, 1);
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    backdrop-filter: blur(6px);
    transition: all .3s ease-in;
}
.hamb-menu ul{
    margin: 100px 0;
}
.hamb-menu ul li{
    margin-top: 20px;
    list-style: none;
}
.hamb-menu li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.hamb-menu .hamb-close{
    position: absolute;
    right: 15px;
    top: 10px;
    width: 22px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(158deg) brightness(101%) contrast(102%);
    cursor: pointer;
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
}
.navbar{
    position: relative;
    width: 100%;
    height: 60px;
    z-index: 10;
}
.nav-left #logo{
    position: absolute;
    width: 30px;
    top: 16px;
    left: 5%;
}
.nav-left p{
    position: absolute;
    top: 35px;
    color: white;
    font-size: 150%;
    left: 3.6%;
    font-family: 'Dancing Script', cursive;
}
.nav-right .web-nav{
  position: absolute;
  right: 0;
  top: 22px;
  width: 70%;
}
.web-nav ul{
    display: flex;
}
.web-nav li{
    list-style: none;
    margin-left: 10%;
    margin-top: 1%;
}
.web-nav ul a{
    color: white;
    text-decoration: none;
    transition: all .3s ease;
    font-size: 110%;
}
.web-nav ul a:hover{
    color: #1ed88e;
}
.web-nav .hire{
    color:black;
    margin-left: 5%;
    margin-top: 0.2%;
}
.web-nav .hire:hover{
    background-color: transparent;
    color: white;
    border: 2px solid white;
}
.nav-right .hamburger{
    position: absolute;
    top: 17px;
    right: 5%;
    width: 33px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(158deg) brightness(101%) contrast(102%);
    cursor: pointer;
}
.home-content{
    position: relative;
    width: 100%;
    height: 93vh;
}
.home-content-text{
    position: relative;
    margin-top: 5%;
    margin-left: 5%;
}
.home-content-text p{
    color: white;
}
.home-content h1{
    font-size: 250%;
    color: white;
    margin-top: -10px;
}
.home-content #changing-text{
    color: #1ed88e;
}
.home-content .home-btns{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.btn{
    padding: 5px 10px;
    font-size: 1.15rem;
    border-radius: 5px;
    margin-left: 2%;
    background-color:#1ed88e;
    font-weight: 600;
    border: 2px solid #1ed88e;
    cursor: pointer;
    transition: all .4s ease;
    text-decoration: none;
    color: black;
}
.home-btns a:hover{
    background-color: transparent;
    color: white;
    border: 2px solid white;
}
.change{
    left: 0;
}
.hidden{
    left: -3000px;
}
.hide{
    display: none;
}
#About h1{
    text-align: center;
}
#About h1 span{
    color: #1ed88e;
}
.about-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    margin: 16px;}
.about-content .profile-pic{
    width: 20rem;
}
.about-content p{
    margin-top: 20px;
    line-height: 25px;
    padding: 8px;
}
.social-links ul{
    margin-top: 10px;
    display: flex;
}
.social-links ul li{
    list-style: none;
    margin: 0 20px;
}
.social-links li a{
    -webkit-tap-highlight-color: transparent;

}
.social-links img{
    width: 2rem;
    filter: invert(83%) sepia(55%) saturate(3367%) hue-rotate(99deg) brightness(97%) contrast(76%);
}
.portfolios{
    width: 100%;
    height: 100%;
    display: flex;
}
#Portfolio{
    padding: 10px;
    margin-top: 20px;
    height: 800px;
    background-image: linear-gradient(to bottom left, #1ed88e, #1b7752);
}
#Portfolio h1{
    text-align: center;
    color: white;
}
.spotify-link{
    width: 100%;
    height: 100%;
}
.portfolio-content{
    width: 90%;
    margin: 30px;
    height: 80%;
}
.portfolio-1{
    position: relative;
    width: 100%;
    height: 54%;
    transition: all .6s ease;
    cursor: pointer;
}
.portfolio-content img{
    position: absolute;
    width: 100%;
    top:0;
    z-index: 1;
    border-radius: 5px;
}
.portfolio-content h3{
    position: absolute;
    color: white;
    top: 45%;
    left: 25%;
}
.portfolio-hover{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(165, 14, 14, 0.7), rgba(84, 7, 7, 0.7));
    z-index: 2;
    transition: all .6s ease;
    border-radius: 5px;
    opacity: 0;
}
.portfolio-hover-2{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#7c103fb1, #3a061db1);
    z-index: 2;
    transition: all .6s ease;
    border-radius: 5px;
    opacity: 0;
}
.portfolio-1:hover{
    transform: scale(1.01);
}
.portfolio-hover:hover{
    opacity: 100;
}
.portfolio-hover-2:hover{
    opacity: 100;
}
.portfolio-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 13;
}
.portfolio-modal .close-modal{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 3%;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(158deg) brightness(101%) contrast(102%);
    cursor: pointer;
}
.modal-content{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10%;
    width: 100%;
    height: 95%;
}
.modal-content img{
    width: 90%;
    margin-top: 2%;
    margin-left: 5%;
    border-radius: 30px;
}
.download-prj{
    color: white;
    margin: 10px;
    float: left;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.download-prj a{
    padding: 5px 20px;
    background-color: #191fc7;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
}
#Contact{
    margin-top: 20px;
    height: 600px;
}
#Contact h1{
    text-align: center;
}
#Contact h1 span{
    color: #1ed88e;
}
#Contact h3{
    font-size: 22px;
}
.contact-content{
    height: 600px;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.contact-content input{
    padding: 5px 10px;
    width: 100%;
    font-size: 90%;
    margin: 10px 0;
    outline: none;
}
.contact-content .message{
    height: 300px;
    width: 100%;
    padding: 5px 10px;
    font-size: 90%;
    margin: 10px 0;
}
.contact-content textarea{
    resize: none;
    outline: none;
}
.contact-content #submit{
    background-color: #1ed88e;
    width: 100px;
    border-radius: 5px;
    border: 2px solid #1ed88e;
}
footer{
    position: relative;
    bottom: 0;
    background-image: linear-gradient(to bottom left, #1ed88e, #1b7752);
    height: 170px;
    width: 100%;
    text-align: center;
    font-size: 90%;
    padding-top: 20px;
}
.footer-text span{
    color: white;
}
footer .source-links{
    margin: 10px 80px;
    text-align: left;
}
.source-links li a{
    text-decoration: none;
    color: black;
}
.source-links ul{
    padding: 0 20px;
}
